---
import Layout from "../../layouts/Layout.astro"

import PostTitle from '../../components/PostTitle.astro'
import Icon from "astro-icon";
---

<Layout title="EMDR no tratamento de ansiedade e depressão - Dra. Jéssyca Farto" clip={false}>
    <div class="container mx-auto flex flex-col gap-6 items-center">
        <PostTitle title="Some text" subtitle="sub"></PostTitle>

        <p class="text-center text-neutral-400">Assista vídeo abaixo e entenda como funciona o tratamento de ansiedade e depressão .</p>
    
        <iframe class="w-full aspect-video px-4 max-w-4xl"  src="https://www.youtube.com/embed/pDx5fKnyqcY?si=A3PsmCO_9AX74M6x" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


        <a href="/contato" class="flex items-center justify-between text-md font-bold border border-violet-700 rounded-full w-60 pl-6
				hover:text-white hover:bg-violet-700 transition duration-500
				">MARCAR CONSULTA <Icon class="w-10 md:w-14  text-white bg-violet-700 rounded-full" name="uil:arrow-right" /></a>
   
        <p class="p-4 text-neutral-300 max-w-4xl">
            A técnica de EMDR (Eye movement desensitization and reprocessing), conhecida por seu foco no reprocessamento de memórias perturbadoras, tem demonstrado ser uma ferramenta valiosa no tratamento de ansiedade e depressão. Aqui está como:
            <br>
            <br>
            <span class="font-bold text-lg">1. Reprocessamento de Memórias: </span>A EMDR ajuda a neutralizar a carga emocional de experiências negativas passadas que podem ser gatilhos para ansiedade e depressão, permitindo que os pacientes lidem com suas emoções de forma mais saudável.
            <br>
            <br>
            <span class="font-bold text-lg">2. Ancoragem no Presente: </span>Mais do que olhar para trás, a EMDR prepara os pacientes para enfrentar os desafios atuais, ajudando-os a desenvolver estratégias para lidar com situações que causam estresse e desconforto no presente.
            <br>
            <br>
            <span class="font-bold text-lg">3. Empoderamento Individual: </span>A técnica também reforça a capacidade do paciente de se reconectar com seus recursos internos, promovendo autoconfiança e resiliência diante dos sintomas de ansiedade e depressão.
            <br>
            <br>
            <span class="font-bold text-lg">4. Resultados Eficazes: </span>Estudos e relatos de pacientes têm apontado para o sucesso da EMDR não só em traumas, mas também como um meio eficaz de aliviar sintomas associados à ansiedade e depressão.
            <br>
            <br>
            <span class="font-bold text-lg">5. Visão Integrada:</span> A EMDR se destaca por sua abordagem holística, considerando tanto as origens do problema quanto as forças e habilidades que o paciente já possui, promovendo uma recuperação mais completa.
            <br>
            <br>
            Em suma, a EMDR oferece uma abordagem abrangente e eficaz para aqueles que buscam tratamento para ansiedade e depressão, tratando tanto das causas subjacentes quanto dos sintomas presentes.

            
            
            
            
    
        </p>

        <div class="w-full border-b-2 border-neutral-800"></div>

        <img class="w-40 h-40 object-cover md:w-60 md:h-60 self-center rounded-full  bg-black border-4 border-gray-800" src="/jessyca21.jpg" />
        <p class="font-semibold mb-4 text-center">Dra. Jéssyca Farto - CRM-SP 198693 <br>
        <span class="font-normal text-neutral-500">Médica Psiquiatra</span></p>

    </div>
 </Layout>