<a class=" bg-neutral-800 group block rounded overflow-clip" href="/posts/emdr-no-tratamento-de-ansiedade-e-depressao">
    <div class="overflow-hidden border-b-[5px] border-violet-700">
        <img
        class="w-full aspect-video group-hover:scale-125 transition duration-300"
        src="/emdr.jpg" alt="">
    </div>
    <div class="p-4 px-6 flex flex-col gap-4 grow">
        <h2 class="pop text-xl font-light text-gray-100 group-hover:text-violet-700">EMDR no tratamento de ANSIEDADE e DEPRESSÃO</h2>
        <p>A técnica de EMDR, conhecida por seu foco no reprocessamento de memórias perturbadoras, tem demonstrado ser uma ferramenta valiosa no tratamento de ansiedade e depressão.  </p>

    </div>
</a>