<a class=" bg-neutral-800 group block rounded overflow-clip" href="/posts/teste">
    <div class="overflow-hidden border-b-[5px] border-violet-700">
        <img
        class="w-full aspect-video group-hover:scale-125 transition duration-300"
        src="https://images.unsplash.com/photo-1608099269227-82de5da1e4a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=685&q=80" alt="">
    </div>
    <div class="p-4 px-6 flex flex-col gap-4 grow">
        <h2 class="pop text-xl font-light text-gray-100 group-hover:text-violet-700">How to Own Your Audience by Creating an Email List</h2>
        <p>Tomfoolery crikey bits and bobs brilliant bamboozled down the pub amongst brolly hanky panky, cack bonnet arse over tit burke bugger all mate bodge. </p>

    </div>
</a>