---

interface Props {
    title: string,
    subtitle: string
}

const {title, subtitle} = Astro.props;
---





<h1 class="text-3xl md:text-5xl text-center pt-20 px-4 font-semibold">
  <span class="w-5 h-5 bg-violet-600 rounded-full inline-block mr-2"></span>Tratamento de ansiedade com técnica nova de EMRD
</h1>
